.section1{
    color: white;
    overflow: hidden;
    background: linear-gradient(black,red, yellow, orange); 
}
.bg{
    background: linear-gradient(red,yellow,orange);
    overflow: hidden;
}
.card{
    display: inline-block;
    margin: 65px;
}
.container-fluid{
    padding: 20px;
    color: white;
}
